# Created by .ignore support plugin (hsz.mobi)
.idea/
package/out/
/1/
/0-not-backed-up/
/6/
/7 - portable/
/bin/
/build/
/comp/
/discogs-v2/
/export/
/gapless/
/gnome3/
/misc/
/mp3-decode/
/package/deb/1/
/package/deb/02/
/package/deb/03 - worked/
/package/deb/Alt(Test)/
/package/SPECS__/
/portable_tst/
/portable_tst2/
/portable_tst3a/
/portable_tst4/
/sourceforge/
/src/bugs/
/src/images/1/
/src/images/2/
/src/images/AcidSonic/
/src/images/oxg/
/src/images/oxygen/
/src/images/svg/
/src/images/tst/
/src/images/work/
/todo/
/trace/
/translation__/
/utf8_streams/
/Windows/Exe+DLLs/
/Windows/SVGs/
