[Desktop Entry]
Type=Application
Icon=MP3Diags
Exec=MP3Diags
#DocPath=
Comment=MP3 Diags - diagnosis and repair tool
Name=MP3 Diags
Categories=Audio;AudioVideo;AudioVideoEditing;
Keywords=mp3;tags;headers;audio;track;cover;art;
