[Desktop Entry]
Type=Application
Icon=MP3Diags
Exec=MP3Diags
#DocPath=
Comment=MP3 Diags - diagnosis and repair tool
Comment[fr]= MP3 Diags - outil de diagnostic et de réparation
Comment[tr]= MP3 Diags - teşhis ve tamir aracı
Name=MP3 Diags
Categories=Audio;AudioVideo;AudioVideoEditing;
Keywords=mp3;tags;headers;audio;track;cover;art;
Keywords[fr]=mp3;tags;en-têtes;audio;piste;pochette;art;
Keywords[tr]=mp3;etiket;başlık;ses;parça;kapak;albüm;
